<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>job</key>
		<array>
			<string>服务员</string>
			<string>送餐员</string>
			<string>厨师</string>
			<string>后厨</string>
			<string>传菜员</string>
			<string>配菜</string>
			<string>洗碗工</string>
			<string>面点师</string>
			<string>茶艺师</string>
			<string>迎宾</string>
			<string>大堂经理</string>
			<string>餐饮管理</string>
			<string>学徒</string>
			<string>杂工</string>
			<string>咖啡师</string>
			<string>预定员</string>
		</array>
		<key>Industry</key>
		<string>餐饮</string>
	</dict>
	<dict>
		<key>job</key>
		<array>
			<string>保洁</string>
			<string>保姆</string>
			<string>月嫂</string>
			<string>育婴师</string>
			<string>洗衣工</string>
			<string>钟点工</string>
			<string>保安</string>
			<string>护工</string>
			<string>送水工</string>
		</array>
		<key>Industry</key>
		<string>家政保洁</string>
	</dict>
	<dict>
		<key>job</key>
		<array>
			<string>发型师</string>
			<string>美发助理</string>
			<string>洗头工</string>
			<string>美容导师</string>
			<string>美容师</string>
			<string>美容助理</string>
			<string>化妆师</string>
			<string>美甲师</string>
			<string>宠物美容</string>
			<string>美容店长</string>
			<string>瘦身顾问</string>
			<string>彩妆培训师</string>
			<string>美体师</string>
		</array>
		<key>Industry</key>
		<string>美容美发</string>
	</dict>
	<dict>
		<key>job</key>
		<array>
			<string>酒店前台</string>
			<string>客房服务员</string>
			<string>楼面经理</string>
			<string>行李员</string>
			<string>救生员</string>
			<string>酒店管理</string>
			<string>订票员</string>
			<string>导游</string>
			<string>签证专员</string>
			<string>旅游顾问</string>
		</array>
		<key>Industry</key>
		<string>酒店</string>
	</dict>
	<dict>
		<key>job</key>
		<array>
			<string>酒吧服务员</string>
			<string>娱乐厅服务员</string>
			<string>迎宾</string>
			<string>主持人</string>
			<string>调酒师</string>
			<string>音效师</string>
			<string>灯光师</string>
			<string>摄影师</string>
			<string>后期制作</string>
			<string>配音员</string>
			<string>放映员</string>
		</array>
		<key>Industry</key>
		<string>娱乐</string>
	</dict>
	<dict>
		<key>job</key>
		<array>
			<string>按摩师</string>
			<string>足疗师</string>
			<string>搓澡工</string>
			<string>针灸推拿</string>
		</array>
		<key>Industry</key>
		<string>按摩保健</string>
	</dict>
	<dict>
		<key>job</key>
		<array>
			<string>健身教练</string>
			<string>瑜伽教练</string>
			<string>舞蹈老师</string>
			<string>游泳教练</string>
			<string>台球教练</string>
			<string>高尔夫球助理</string>
		</array>
		<key>Industry</key>
		<string>运动健身</string>
	</dict>
	<dict>
		<key>job</key>
		<array>
			<string>文员</string>
			<string>前台接待</string>
			<string>人事专员</string>
			<string>人事经理</string>
			<string>人事总监</string>
			<string>行政专员</string>
			<string>行政经理</string>
			<string>行政总监</string>
			<string>秘书</string>
			<string>猎头顾问</string>
			<string>后勤</string>
			<string>培训专员</string>
			<string>培训经理</string>
			<string>招聘专员</string>
			<string>招聘经理</string>
		</array>
		<key>Industry</key>
		<string>人事行政</string>
	</dict>
	<dict>
		<key>job</key>
		<array>
			<string>商务司机</string>
			<string>客运司机</string>
			<string>货运司机</string>
			<string>出租车司机</string>
			<string>班车司机</string>
			<string>特种车司机</string>
			<string>驾校教练</string>
		</array>
		<key>Industry</key>
		<string>司机</string>
	</dict>
	<dict>
		<key>job</key>
		<array>
			<string>总裁CEO</string>
			<string>首席运营官COO</string>
			<string>首席财务官CFO</string>
			<string>首席技术官CTO</string>
			<string>副总裁</string>
			<string>总裁助理</string>
			<string>总监</string>
			<string>分公司经理</string>
			<string>合伙人</string>
		</array>
		<key>Industry</key>
		<string>高级管理</string>
	</dict>
	<dict>
		<key>job</key>
		<array>
			<string>销售代表</string>
			<string>销售助理</string>
			<string>销售经理</string>
			<string>销售总监</string>
			<string>电话销售</string>
			<string>销售支持</string>
			<string>汽车销售</string>
			<string>医药代表</string>
			<string>医疗器械销售</string>
			<string>网络销售</string>
			<string>区域销售</string>
			<string>渠道专员</string>
			<string>渠道经理</string>
			<string>客户经理</string>
			<string>大客户经理</string>
			<string>团购业务员</string>
			<string>会籍顾问</string>
		</array>
		<key>Industry</key>
		<string>销售</string>
	</dict>
	<dict>
		<key>job</key>
		<array>
			<string>客服专员</string>
			<string>客服经理</string>
			<string>客服总监</string>
			<string>售前售后服务</string>
			<string>电话客服</string>
			<string>客户关系管理</string>
		</array>
		<key>Industry</key>
		<string>客服</string>
	</dict>
	<dict>
		<key>job</key>
		<array>
			<string>外贸专员</string>
			<string>外贸经理</string>
			<string>采购员</string>
			<string>采购助理</string>
			<string>采购经理</string>
			<string>报关员</string>
			<string>商务专员</string>
			<string>买手</string>
		</array>
		<key>Industry</key>
		<string>采购</string>
	</dict>
	<dict>
		<key>job</key>
		<array>
			<string>营业员</string>
			<string>收银员</string>
			<string>导购员</string>
			<string>理货员</string>
			<string>防损员</string>
			<string>店长</string>
			<string>招商经理</string>
			<string>品类管理</string>
			<string>食品加工</string>
			<string>督导</string>
		</array>
		<key>Industry</key>
		<string>超市百货</string>
	</dict>
	<dict>
		<key>job</key>
		<array>
			<string>网店店长</string>
			<string>淘宝客服</string>
			<string>淘宝美工</string>
			<string>店铺文案</string>
			<string>店铺推广</string>
			<string>活动策划</string>
		</array>
		<key>Industry</key>
		<string>淘宝职位</string>
	</dict>
	<dict>
		<key>job</key>
		<array>
			<string>房产经纪人</string>
			<string>置业顾问</string>
			<string>房产店长</string>
			<string>房产店员</string>
			<string>房产客服</string>
			<string>房产内勤</string>
			<string>房产评估师</string>
			<string>房产开发</string>
		</array>
		<key>Industry</key>
		<string>房产中介</string>
	</dict>
	<dict>
		<key>job</key>
		<array>
			<string>市场专员</string>
			<string>市场经理</string>
			<string>市场扩展</string>
			<string>市场调研</string>
			<string>市场策划</string>
			<string>媒介专员</string>
			<string>媒介经理</string>
			<string>会务会展专员</string>
			<string>品牌专员</string>
			<string>公关专员</string>
			<string>公关经理</string>
			<string>企划经理</string>
		</array>
		<key>Industry</key>
		<string>市场公关</string>
	</dict>
	<dict>
		<key>job</key>
		<array>
			<string>广告文案</string>
			<string>创意指导</string>
			<string>广告设计</string>
			<string>广告创意</string>
			<string>媒介策划</string>
			<string>会展策划</string>
			<string>婚礼策划师</string>
			<string>咨询顾问</string>
			<string>咨询经理</string>
			<string>客户主管</string>
			<string>企业策划</string>
		</array>
		<key>Industry</key>
		<string>广告</string>
	</dict>
	<dict>
		<key>job</key>
		<array>
			<string>美术设计</string>
			<string>服装设计</string>
			<string>家具设计</string>
			<string>平面设计</string>
			<string>美术指导</string>
			<string>展览设计</string>
			<string>珠宝设计</string>
			<string>动画设计</string>
			<string>包装设计</string>
			<string>装潢设计</string>
			<string>CAD设计</string>
			<string>株洲</string>
			<string>长沙</string>
			<string>邵阳</string>
		</array>
		<key>Industry</key>
		<string>美术</string>
	</dict>
	<dict>
		<key>job</key>
		<array>
			<string>普工</string>
			<string>综合维修工</string>
			<string>水暖工</string>
			<string>电工</string>
			<string>木工</string>
			<string>钳工</string>
			<string>焊工</string>
			<string>钣金工</string>
			<string>油漆工</string>
			<string>缝纫工</string>
			<string>锅炉工</string>
			<string>车工</string>
			<string>叉车工</string>
			<string>模具工</string>
			<string>电梯工</string>
			<string>操作工</string>
			<string>包装工</string>
			<string>手机维修</string>
			<string>水泥工</string>
			<string>钢筋工</string>
			<string>管道工</string>
			<string>瓦工</string>
			<string>组装工</string>
			<string>样衣工</string>
			<string>染工</string>
			<string>纺织工</string>
			<string>印花工</string>
			<string>压熨工</string>
		</array>
		<key>Industry</key>
		<string>普工</string>
	</dict>
	<dict>
		<key>job</key>
		<array>
			<string>质量管理</string>
			<string>总工程师</string>
			<string>设备管理维护</string>
			<string>工艺设计</string>
			<string>车间主任</string>
			<string>生产计划</string>
			<string>化验</string>
			<string>厂长</string>
			<string>生产总监</string>
			<string>维修工程师</string>
			<string>工业工程师</string>
			<string>材料工程师</string>
			<string>技术工程师</string>
			<string>生产主管</string>
		</array>
		<key>Industry</key>
		<string>生产管理</string>
	</dict>
	<dict>
		<key>job</key>
		<array>
			<string>物流专员</string>
			<string>物流经理</string>
			<string>物流总监</string>
			<string>调度员</string>
			<string>快递员</string>
			<string>仓库管理员</string>
			<string>仓库经理</string>
			<string>搬运工</string>
			<string>供应链管理</string>
			<string>单证员</string>
			<string>国籍货运</string>
		</array>
		<key>Industry</key>
		<string>物流</string>
	</dict>
	<dict>
		<key>job</key>
		<array>
			<string>服装设计师</string>
			<string>纺织品设计</string>
			<string>服装打样</string>
			<string>生产管理</string>
			<string>样衣工</string>
			<string>电脑放码员</string>
			<string>纸样师</string>
		</array>
		<key>Industry</key>
		<string>纺织业</string>
	</dict>
	<dict>
		<key>job</key>
		<array>
			<string>质量管理</string>
			<string>质量检验员</string>
			<string>测试工程师</string>
			<string>安全消防</string>
			<string>认证工程师</string>
			<string>安全管理</string>
		</array>
		<key>Industry</key>
		<string>质量控制</string>
	</dict>
	<dict>
		<key>job</key>
		<array>
			<string>汽车设计工程师</string>
			<string>装配工艺工程师</string>
			<string>汽车修理</string>
			<string>汽车机械工程师</string>
			<string>汽车电子工程师</string>
			<string>4S店管理</string>
			<string>汽车检验</string>
			<string>汽车美容</string>
			<string>二手车评估师</string>
			<string>总装工程师</string>
			<string>安全性能工程师</string>
			<string>理赔专员</string>
			<string>洗车工</string>
			<string>停车管理员</string>
			<string>加油站工作员</string>
			<string>轮胎工</string>
		</array>
		<key>Industry</key>
		<string>汽车</string>
	</dict>
	<dict>
		<key>job</key>
		<array>
			<string>技术总监</string>
			<string>技术支持</string>
			<string>技术专员</string>
			<string>软件工程师</string>
			<string>程序员</string>
			<string>硬件工程师</string>
			<string>质量工程师</string>
			<string>测试工程师</string>
			<string>系统架构师</string>
			<string>数据库管理</string>
			<string>游戏开发</string>
			<string>网页设计</string>
			<string>语音视频</string>
			<string>项目经理</string>
			<string>产品经理</string>
			<string>网站运营</string>
			<string>网站编辑</string>
			<string>网站策划</string>
			<string>网络管理员</string>
			<string>网络与信息安全工程师</string>
			<string>实施工程师</string>
			<string>通信技术工程师</string>
		</array>
		<key>Industry</key>
		<string>计算机互联网</string>
	</dict>
	<dict>
		<key>job</key>
		<array>
			<string>自动化工程师</string>
			<string>电子电气工程师</string>
			<string>电路工程师</string>
			<string>无限电工程师</string>
			<string>测试工程师</string>
			<string>产品工艺</string>
			<string>音频视频工程师</string>
			<string>照明设计工程师</string>
			<string>研发工程师</string>
			<string>电器维修</string>
		</array>
		<key>Industry</key>
		<string>电子电气</string>
	</dict>
	<dict>
		<key>job</key>
		<array>
			<string>机电工程师</string>
			<string>机械工程师</string>
			<string>研发工程师</string>
			<string>测试工程师</string>
			<string>版图设计工程师</string>
			<string>仪器仪表计量</string>
		</array>
		<key>Industry</key>
		<string>机械</string>
	</dict>
	<dict>
		<key>job</key>
		<array>
			<string>律师</string>
			<string>律师助理</string>
			<string>法务专员</string>
			<string>产权顾问</string>
			<string>合规管理</string>
		</array>
		<key>Industry</key>
		<string>法律</string>
	</dict>
	<dict>
		<key>job</key>
		<array>
			<string>教师</string>
			<string>家教</string>
			<string>幼教</string>
			<string>培训师</string>
			<string>培训策划</string>
			<string>培训助理</string>
			<string>教务管理</string>
			<string>教育产品开发</string>
			<string>学术研究</string>
			<string>招生</string>
			<string>校长</string>
			<string>野外扩展训练师</string>
		</array>
		<key>Industry</key>
		<string>教育培训</string>
	</dict>
	<dict>
		<key>job</key>
		<array>
			<string>英语</string>
			<string>日语</string>
			<string>韩语</string>
			<string>法语</string>
			<string>俄语</string>
			<string>德语</string>
			<string>西班牙语</string>
			<string>意大利语</string>
			<string>葡萄牙语</string>
			<string>阿拉伯语</string>
			<string>小语种</string>
		</array>
		<key>Industry</key>
		<string>翻译</string>
	</dict>
	<dict>
		<key>job</key>
		<array>
			<string>总编</string>
			<string>编辑</string>
			<string>记者</string>
			<string>出版</string>
			<string>排版设计</string>
			<string>印刷操作</string>
			<string>装订</string>
		</array>
		<key>Industry</key>
		<string>编辑</string>
	</dict>
	<dict>
		<key>job</key>
		<array>
			<string>财务经理</string>
			<string>财务总监</string>
			<string>会计</string>
			<string>会计助理</string>
			<string>出纳</string>
			<string>审计专员</string>
			<string>审计经理</string>
			<string>统计员</string>
			<string>税务专员</string>
			<string>税务经理</string>
			<string>财务分析员</string>
			<string>成本管理员</string>
		</array>
		<key>Industry</key>
		<string>财务</string>
	</dict>
	<dict>
		<key>job</key>
		<array>
			<string>证券</string>
			<string>证券经理</string>
			<string>证券分析</string>
			<string>信用卡</string>
			<string>银行经理</string>
			<string>银行会计</string>
			<string>信贷管理</string>
			<string>资产评估</string>
			<string>担保</string>
			<string>拍卖师</string>
			<string>外汇</string>
			<string>投资</string>
			<string>融资专员</string>
			<string>融资经理</string>
			<string>风险管理</string>
			<string>股票交易员</string>
		</array>
		<key>Industry</key>
		<string>金融银行证券投资</string>
	</dict>
	<dict>
		<key>job</key>
		<array>
			<string>储备经理人</string>
			<string>保险客户经理</string>
			<string>车险专员</string>
			<string>保险内勤</string>
			<string>保险培训师</string>
			<string>保险客服</string>
			<string>保险顾问</string>
			<string>保险经纪人</string>
			<string>保险项目经理</string>
			<string>保险精算师</string>
			<string>其他</string>
		</array>
		<key>Industry</key>
		<string>保险</string>
	</dict>
	<dict>
		<key>job</key>
		<array>
			<string>医生</string>
			<string>保健医生</string>
			<string>心里医生</string>
			<string>护士</string>
			<string>护士长</string>
			<string>导医</string>
			<string>药剂师</string>
			<string>理疗师</string>
			<string>医药质检</string>
			<string>医疗管理</string>
			<string>美容整形师</string>
			<string>验光师</string>
			<string>营养师</string>
			<string>宠物护理</string>
		</array>
		<key>Industry</key>
		<string>医疗</string>
	</dict>
	<dict>
		<key>job</key>
		<array>
			<string>医药研发</string>
			<string>临床研究</string>
			<string>生物工程</string>
			<string>医疗器械</string>
		</array>
		<key>Industry</key>
		<string>生物工程</string>
	</dict>
	<dict>
		<key>job</key>
		<array>
			<string>污水处理</string>
			<string>环境工程技术</string>
			<string>环境管理</string>
			<string>环保技术</string>
			<string>EHS管理</string>
			<string>环保工程师</string>
			<string>环保检测</string>
			<string>水质监测员</string>
			<string>环境绿化</string>
		</array>
		<key>Industry</key>
		<string>环保</string>
	</dict>
	<dict>
		<key>job</key>
		<array>
			<string>工程项目管理</string>
			<string>工程监理</string>
			<string>建筑工程师</string>
			<string>土木工程师</string>
			<string>造价师</string>
			<string>幕墙工程师</string>
			<string>安防工程师</string>
			<string>安全管理</string>
			<string>道路桥梁技术</string>
			<string>给排水</string>
			<string>测绘</string>
			<string>园林</string>
			<string>资料员</string>
			<string>市政工程师</string>
			<string>综合布线</string>
		</array>
		<key>Industry</key>
		<string>建筑</string>
	</dict>
	<dict>
		<key>job</key>
		<array>
			<string>物业管理员</string>
			<string>物业维修</string>
			<string>物业经理</string>
			<string>合同管理</string>
			<string>招商经理</string>
		</array>
		<key>Industry</key>
		<string>物业管理</string>
	</dict>
	<dict>
		<key>job</key>
		<array>
			<string>饲料业务</string>
			<string>养殖人员</string>
			<string>农艺师</string>
			<string>畜牧师</string>
			<string>场长</string>
			<string>养殖部主管</string>
			<string>动物营养</string>
		</array>
		<key>Industry</key>
		<string>农林牧渔</string>
	</dict>
</array>
</plist>
